*.err
Data/Wolff/SQL/
*.jeebies
*.gutcheck
Data/schema.sql
Data/Calderon/sgml2win.pat
*.epub
Data/Calderon/Gutenberg/EST.html
Data/Encarnacion/EspanolBisaya-kwic.html
Data/Encarnacion/EspanolBisaya.html
Data/Encarnacion/EspanolBisaya.txt
Data/Encarnacion/EspanolBisaya.xml
Site/
Data/Encarnacion/EspanolBisaya-normalized.xml
Data/Encarnacion/EspanolBisaya-words.html
Data/Kaufmann/KVED-xdxf.xml
Data/Nigg/out.tei
Data/Wolff/WCED-backmatter.xml
Data/Wolff/WCED-backmatter-normalized.xml
Data/Wolff/WCED-complete.html
Data/Wolff/WCED-complete.pdf
Data/Wolff/WCED-complete.txt
Data/Wolff/WCED-complete.xml
Data/Kaufmann/word.sql
Data/Kaufmann/wordentry.sql
Data/Wolff/WCED-frontmatter-words.html
Data/Wolff/WCED-frontmatter-normalized.xml
Data/Wolff/WCED-frontmatter.xml
Data/Wolff/WCED-frontmatter.txt
Data/Wolff/WCED-complete-normalized.xml
Data/Wolff/WCED-complete-prince.html
Data/Wolff/WCED-complete-words.html
Data/Wolff/WCED-frontmatter.html
Data/Kaufmann/KVED-words.html
Data/Kaufmann/KVED.html
Data/Kaufmann/KVED.tei
Data/Kaufmann/KVED.txt
Data/Kaufmann/entry.sql
