*.err
Data/Wolff/SQL/
*.jeebies
*.gutcheck
Data/schema.sql
Data/Calderon/sgml2win.pat
*.epub
Data/Encarnacion/EspanolBisaya-kwic.html
Data/Encarnacion/EspanolBisaya.html
Data/Encarnacion/EspanolBisaya.txt
Data/Encarnacion/EspanolBisaya.xml
Site/
Data/Encarnacion/EspanolBisaya-normalized.xml
Data/Encarnacion/EspanolBisaya-words.html
Data/Kaufmann/KVED-xdxf.xml
Data/Nigg/out.tei
Data/Wolff/WCED-backmatter.xml
Data/Wolff/WCED-backmatter-normalized.xml
Data/Wolff/WCED-complete.html
Data/Wolff/WCED-complete.pdf
Data/Wolff/WCED-complete.txt
Data/Wolff/WCED-complete.xml
Data/Kaufmann/word.sql
Data/Kaufmann/wordentry.sql
Data/Wolff/WCED-frontmatter-words.html
Data/Wolff/WCED-frontmatter-normalized.xml
Data/Wolff/WCED-frontmatter.xml
Data/Wolff/WCED-frontmatter.txt
Data/Wolff/WCED-complete-normalized.xml
Data/Wolff/WCED-complete-prince.html
Data/Wolff/WCED-complete-words.html
Data/Wolff/WCED-frontmatter.html
Data/Kaufmann/KVED-words.html
Data/Kaufmann/KVED.html
Data/Kaufmann/KVED.tei
Data/Kaufmann/KVED.txt
Data/Kaufmann/entry.sql
Data/Calderon/epub/
Data/Calderon/EST.tei
Data/Calderon/EST.xml
Data/Calderon/EST-content.tei
Data/Calderon/EST-normalized.xml
Data/Kaufmann/KVED-Body.tei
Data/Kaufmann/KVED-Introduction.tei
Data/Kaufmann/KVED-dictionary.xml
Data/Kaufmann/KVED-normalized.xml
Data/Kaufmann/KVED.xml
Data/Kaufmann/imageinfo.xml
Data/Kaufmann/metadata.xml
Data/Kaufmann/temp-01.txt
Data/Kaufmann/temp-02.tei
Data/Kaufmann/temp-02s.xml
Data/Kaufmann/temp-02.xml
Data/Kaufmann/temp-03.tei
Data/Kaufmann/usage.xml
Data/Kaufmann/words.html
Data/Wolff/imageinfo.xml
Data/Wolff/usage.sql
Data/Nigg/body-EN-TL.tei
Data/Nigg/body-names.tei
Data/Nigg/body-TL-EN.tei
Data/Nigg/TagalogDictionary.html
Data/Nigg/TagalogDictionary.tei
Data/Nigg/TagalogDictionary.txt
Data/Nigg/TagalogDictionary.xml
Data/Nigg/TagalogDictionary-normalized.xml
Data/Nigg/TagalogDictionary-words.html
Data/Kaufmann/SQL/dictionary_database
Data/Kaufmann/SQL/kved_entry.sql
Data/Kaufmann/SQL/kved_word.sql
Data/Kaufmann/SQL/kved_word2.sql
Data/Kaufmann/SQL/kved_wordentry.sql
Data/Kaufmann/SQL/kved_data.sql
Data/Wolff/profile.html
Data/Nigg/marie-notes-TL-EN.txt
Data/Wolff/WCED-backmatter-0.0-checks.html
Data/Wolff/WCED-complete-checks.html
Data/Wolff/WCED-frontmatter-0.1-checks.html
Data/Wolff/issues.xml
Data/Encarnacion/issues.xml
Data/Encarnacion/EspanolBisaya-0.1-checks.html
Data/Nigg/issues.xml
Data/Nigg/TagalogDictionary-checks.html
Data/Kaufmann/issues.xml
Data/Kaufmann/KVED-checks.html
Data/Kaufmann/KVED-normalized-kwic-variants-2.html
Data/Kaufmann/KVED-normalized-kwic.html
Data/Kaufmann/SQL/dictionary_database.zip
Data/Kaufmann/SQL/kved_sqlite.sql
Data/Encarnacion/EspanolBisaya-included.xml
Data/Encarnacion/EspanolBisaya-preprocessed.xml
Data/Kaufmann/KVED-Errata-0.1-checks.html
Data/Kaufmann/KVED-Errata-included.xml
Data/Kaufmann/KVED-Errata-preprocessed.xml
Data/Kaufmann/KVED-Errata-words.html
Data/Kaufmann/KVED-Introduction-0.2-checks.html
Data/Kaufmann/KVED-Introduction-included.xml
Data/Kaufmann/KVED-Introduction-preprocessed.xml
Data/Encarnacion/EspanolBisaya-checks.html
Data/Kaufmann/KVED-preprocessed.xml
Data/Kaufmann/KVED-included.xml
Data/Encarnacion/Processed/images/new-cover.jpg
