<?xml version="1.0"?>
<style type="text/css">
<![CDATA[


@media print
{
    @page
    {
        size: a4;
        margin: 0;

        @bottom-right, @bottom-left, @top-right, @top-left
        {
            border: none;
            margin: 0;
        }

        @footnotes
        {
            padding-top: 8pt;
            margin: 0;
        }

        counter-reset: footnote;
    }

    @page:right
    {
        margin: 25mm 20mm;
        padding: 5mm 0;

        @top-right
        {
            font-size: 10pt;
            font-weight: bold;
            text-align: outside;
            vertical-align: bottom;
            border-bottom: solid black thin;
            padding-bottom: 2mm
        }

        @top-left
        {
            font-style: italic;
            font-size: 10pt;
            text-align: inside;
            vertical-align: bottom;
            border-bottom: solid black thin;
            padding-bottom: 2mm
        }

        @bottom-right
        {
            content: counter(page);
            font-size: 10pt;
            text-align: outside;
        }
    }

    @page:left
    {
        margin: 25mm 20mm;
        padding: 5mm 0;

        @top-right
        {
            font-style: italic;
            font-size: 10pt;
            text-align: inside;
            vertical-align: bottom;
            padding-bottom: 2mm
        }

        @top-left
        {
            font-size: 10pt;
            font-weight: bold;
            text-align: outside;
            vertical-align: bottom;
            border-bottom: solid black thin;
            padding-bottom: 2mm
        }

        @bottom-left
        {
            content: counter(page);
            font-size: 10pt;
            text-align: outside;
        }
    }

    @page body:right
    {
        margin: 15mm 20mm;

        @top-right
        {
            content: string(termstr, first) " \2013\0020" string(termstr, last);
            border-bottom: solid black thin;
        }

        @top-left
        {
            content: "A Dictionary of Cebuano Visayan";
            border-bottom: solid black thin;
        }
    }

    @page body:left
    {
        margin: 15mm 20mm;

        @top-right
        {
            content: "A Dictionary of Cebuano Visayan";
            border-bottom: solid black thin;
        }

        @top-left
        {
            content: string(termstr, first) " \2013\0020" string(termstr, last);
            border-bottom: solid black thin;
        }
    }

    @page cover
    {
        @top { content: normal }
        @bottom { content: normal }
    }

    /* Formatting Elements */

    :root, body
    {
        margin: 0;
    }

    :root, body, h1, h2, h3, h4, h5, h6, .titlePage, .h1, .h2, .h3, .h4, .h5, .h6
    {
        font-family: Times New Roman, serif;
    }

    .front, .back
    {
        font-size: 11pt;
    }

    div.body
    {
        page: body;
        counter-reset: page 1;
    }

    div.body .divBody, #addenda .divBody
    {
        font-size: 10pt;
        display: block;
        column-count: 2;
        column-gap: 40;
        column-rule: solid black thin;
    }

    div.letter, #addenda
    {
        /* page-break-before: always; */
    }

    div.letter h2.main
    {
        font-size: 48pt;
        margin-top: 2cm;
        margin-bottom: 2cm;
        text-align: center;
    }

    .body p, #addenda p
    {
        margin: 0;
        text-indent: 0.667em hanging;
    }

    p b:first-of-type
    {
        /* background-color: yellow; */
        string-set: termstr content();
    }

    .rm
    {
        font-weight: normal;
    }

	table td
	{
		padding-left: 1.5mm;
		padding-right: 1.5mm;
	}

    /* Stuff copied from the tei2html main prince stylesheet */

    span.corr, span.abbr, span.measure, abbr
    {
        border-bottom: 0px;
        text-decoration: none;
    }

    a:link, a:visited
    {
        color: black;
        background: transparent;
        text-decoration: none;
    }

    a.pageref           /* Replace references with pagenumbers with actual pagenumbers */
    {
        content: target-counter(attr(href), page);
    }

    .pagenum            /* Suppress marginal pagenumbers (using display: none will break references!) */
    {
        visibility: hidden;
    }
}


]]>
</style>

