
@page:right 
{
    size: A4;
    margin: 15mm 10mm;
    padding: 5mm 0;
    
    @top-right 
    {
        content: string(termstr, first) " \2013\0020 " string(termstr, last);
        font-size: 10pt;
        text-align: outside;
        vertical-align: bottom;
        border-bottom: solid black thin;
        padding-bottom: 2mm
    }
    
    @top-left 
    {
        content: "English-Spanish-Tagalog Dictionary";
        font-size: 10pt;
        text-align: inside;
        vertical-align: bottom;
        border-bottom: solid black thin;
        padding-bottom: 2mm
    }
    
    @bottom-right
    {
        content: counter(page);
        font-size: 10pt;
        text-align: outside;
        border-top: solid black thin
    }
}

@page:left
{
    size: A4;
    margin: 15mm 10mm;
    padding: 5mm 0;
    
    @top-right 
    {
        content: "English-Spanish-Tagalog Dictionary";
        font-size: 10pt;
        text-align: inside;
        vertical-align: bottom;
        border-bottom: solid black thin;
        padding-bottom: 2mm
    }
    
    @top-left 
    {
        content: string(termstr, first) " \2013\0020 " string(termstr, last);
        font-size: 10pt;
        text-align: outside;
        vertical-align: bottom;
        border-bottom: solid black thin;
        padding-bottom: 2mm
    }
    
    @bottom-left
    {
        content: counter(page);
        font-size: 10pt;
        text-align: outside;
        border-top: solid black thin
    }  
}


@page cover 
{
    @top { content: normal }
    @bottom { content: normal }
}


/*=== Formatting Elements ===*/

:root
{
    font-family: Georgia, serif;
    prince-text-replace: "fi" "\fb01" "fl" "\fb02";  /* ligatures available in Georgia */
}

xdxf
{
    font-family: Georgia, serif;
    prince-text-replace: "fi" "\fb01" "fl" "\fb02";  /* Georgia */
    font-size: 9pt;
}



xdxf
{
    display: block;
    column-count: 3;
    column-gap: 30;
    column-rule: solid black thin;
}

ar
{
    display: block;
}

head
{
    font-family: Verdana, sans-serif;
	font-weight: bold;
    prince-text-replace: none;
}

head
{
    display: inline;
    page-break-after: avoid;
    string-set: termstr content()
}

pos
{
    font-style: italic;
}

tr
{
	font-size: 8pt;
}

tr::before
{ 
	content: "[";
	font-size: 8pt;
}

tr::after
{ 
	content: "]";
	font-size: 8pt;
}


dtrn[lang="es"]::after
{
	content: " \2013\0020 "
}

dtrn[lang="tl"]
{
    font-style: italic;
}
